annotated-types
black
boto3
boto3-stubs
botocore
botocore-stubs
certifi
cffi
charset-normalizer
click
confluent-kafka
coverage
cryptography
flake8
google-api-core
google-auth
google-cloud-pubsub
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
httpcore
httpx
idna
importlib_metadata
iniconfig
jmespath
librt
mccabe
mypy
mypy-boto3-sns
mypy-boto3-sqs
mypy_extensions
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pathspec
pika
platformdirs
pluggy
proto-plus
protobuf
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
Pygments
pytest
pytest-cov
python-dateutil
python-dotenv
pytokens
requests
s3transfer
six
types-awscrt
types-pika
types-s3transfer
typing-inspection
typing_extensions
urllib3
zipp
